@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&display=swap");

/* ---------- */
/* CSS Reset */
/* ---------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --brand-gradient: linear-gradient(
    90deg,
    rgba(202, 208, 255, 1) 0%,
    rgba(227, 227, 227, 1) 100%
  );
  --background-dark: rgba(3, 3, 3, 100%);
  --primary: rgba(202, 208, 255, 100%);
  --secondary: rgba(227, 227, 227, 100%);
  --text-title: rgba(253, 253, 253, 100%);
  --text-body: rgba(217, 217, 217, 100%);
  --text-dark: rgba(3, 3, 3, 100%);
  --dark-grey-200: rgba(11, 11, 11, 100%);
  --dark-grey-100: rgba(15, 15, 15, 100%);
  --card-hover: rgba(20, 20, 20, 100%);
  --background-dark-70: rgba(3, 3, 3, 70%);
  --navlink-hover: rgba(181, 181, 181, 100%);

  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.75rem;
  --font-size-h4: 1.5rem;
  --font-size-h5: 1.25rem;
  --font-size-h6: 1rem;
  --font-size-body-primary: 1rem;
  --font-size-body-secondary: 0.875rem;
  --font-size-title-1: 1.25rem;
  --font-size-title-2: 1.125rem;
  --font-size-title-3: 1rem;
  --font-size-subtext-small: 0.75rem;
  --font-size-cta-primary: 1.125rem;
  --font-size-cta-secondary: 1rem;
  --font-size-nav-link: 0.6rem;
  --font-size-faq-question: 1.1rem;
  --font-size-faq-answer: 1rem; 
  --font-size-testimonial: 1.25rem;
}

body {
  background-color: var(--background-dark);
  color: var(--text-body);
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Syne", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--text-title);
}

p,
a,
button,
.title,
.subtext,
.cta,
.nav,
.faq,
.testimonial {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--text-title);
}

h1 {
  font-size: var(--font-size-h1);
  line-height: calc(var(--font-size-h1) * 1.2);
}

h2 {
  font-size: var(--font-size-h2);
  line-height: calc(var(--font-size-h2) * 1.2);
}

h3 {
  font-size: var(--font-size-h3);
  line-height: calc(var(--font-size-h3) * 1.2);
}

h4 {
  font-size: var(--font-size-h4);
  line-height: calc(var(--font-size-h4) * 1.2);
  font-weight: 500;
}

h5 {
  font-size: var(--font-size-h5);
  line-height: calc(var(--font-size-h5) * 1.25);
  font-weight: 500;
}

h6 {
  font-size: var(--font-size-h6);
  line-height: calc(var(--font-size-h6) * 1.4);
  font-weight: 500;
}

a, button{
  cursor: pointer;
}

/* -------------- */
/* Useful Classes*/
/* ------------ */

p.body-primary {
  font-size: var(--font-size-body-primary);
  line-height: calc(var(--font-size-body-primary) * 1.55);
  font-weight: 400; /* Regular weight for body text */
  color: var(--text-body);
}

p.body-secondary {
  font-size: var(--font-size-body-secondary);
  line-height: calc(var(--font-size-body-secondary) * 1.5);
  font-weight: 400; /* Regular weight for body text */
  color: var(--text-body);
}

.title-1 {
  font-size: var(--font-size-title-1);
  line-height: calc(var(--font-size-title-1) * 1.25);
  font-weight: 500;
}

.title-2 {
  font-size: var(--font-size-title-2);
  line-height: calc(var(--font-size-title-2) * 1.4);
  font-weight: 500;
}

.title-3 {
  font-size: var(--font-size-title-3);
  line-height: calc(var(--font-size-title-3) * 1.55);
  font-weight: 500;
}

.subtext-small {
  font-size: var(--font-size-subtext-small);
  line-height: calc(var(--font-size-subtext-small) * 1.5);
  font-weight: 400;
}

.cta-primary {
  font-size: var(--font-size-cta-primary);
  line-height: calc(var(--font-size-cta-primary) * 1.4);
  background-color: var(--primary);
  color: var(--text-dark);
  width: 100%;
  padding-inline: 3rem;
  padding-block: 1rem;
  border: none;
  border-radius: 999px;
  font-weight: 500;
  transition: all 300ms ease-out;
}

.cta-primary:hover {
  background-color: var(--card-hover);
  color: var(--primary);
}

.cta-primary:focus {
  background-color: var(--card-hover);
  color: var(--primary);
  border: 2px solid var(--primary);
}

.cta-secondary {
  font-size: var(--font-size-cta-secondary);
  line-height: calc(var(--font-size-cta-secondary) * 1.55);
  font-weight: 500;
}

.nav-link {
  font-size: var(--font-size-nav-link);
  line-height: calc(var(--font-size-nav-link) * 1.5);
  font-weight: 400;
}

.faq-question {
  font-size: var(--font-size-faq-question);
  line-height: calc(var(--font-size-faq-question) * 1.4);
  font-weight: 500;
}

.faq-answer {
  font-size: var(--font-size-faq-answer);
  line-height: calc(var(--font-size-faq-answer) * 1.55);
  font-weight: 400;
  color: var(--text-body);
}

.testimonial {
  font-size: var(--font-size-testimonial);
  line-height: calc(var(--font-size-testimonial) * 1.4);
  font-weight: 400;
  color: var(--text-body);
}

i {
  color: var(--text-title);
}

.icon-extra-small {
  font-size: 1.125rem;
}

.icon-small {
  font-size: 1.5rem;
}

.icon-medium {
  font-size: 2rem;
}

.icon-large {
  font-size: 2.625rem;
}

.hidden {
  display: none;
}


/* ------------ */
/* CSS styling */
/* ---------- */

/* ----------------- */
/* Landing Page CSS */
/* --------------- */

.header .container,
.hero-section,
.contents-below-hero-background,
.main-content,
.footer {
  padding-inline: 1rem;
  max-width: 1280px;
  margin-inline: auto;
}

/* Header */
.header {
  /* height: 3.8rem; */
  padding-block: 1.2rem;
  transition: all 300ms ease-out;
}

.header.fixed-header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--background-dark-70);
  backdrop-filter: blur(55px);
  z-index: 99;
}

.header .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mobile-nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  height: 100vh;
  width: 50vw;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--background-dark-70);
  backdrop-filter: blur(55px);
}

#menu-icon, #close-icon{
  cursor: pointer;
}

.mobile-nav-menu.active {
  transform: translateX(0%);
}

#close-icon {
  font-size: 20px;
}

.nav-links {
  padding-block: 3rem;
  text-align: center;
}

.nav-links ul li {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.nav-links ul li a {
  color: var(--text-title);
  cursor: pointer;
}
.nav-links ul li a:hover {
  color: var(--navlink-hover);
}

.navigation {
  display: none;
}

.hero-section {
  padding-top: 7rem;
  padding-bottom: 5rem;
}

/* Hero Section */

.hero-background {
  height: 70vh;
  width: 100vw;
  background-image:
    linear-gradient(rgba(3, 3, 3, 40%) 0%, rgba(3, 3, 3, 40%) 100%),
    linear-gradient(to bottom, rgba(3, 3, 3, 70%) 0%, rgba(3, 3, 3, 100%) 80%);
  background-blend-mode: overlay, overlay;
  background-size: cover;
  background-position: center;
} 


.hero-section .hero-title {
  margin-bottom: 2rem;
  text-align: left;
}

.background-video{
  position: absolute;
  top: 0;
  left: 0;
  height: 70vh;
  width: 100vw;
  object-fit: cover;
  z-index: -1;
}

.section-heading, .about-heading {
  margin-bottom: 2.5rem;
  text-align: left;
}

.section-heading .section-title, .about-heading .about-title {
  margin-bottom: 1rem;
}

/* Our Services Section */

.our-service-section {
  padding-block: 2rem;
}

.service-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.service-card {
  background-color: var(--dark-grey-100);
  padding: 1.5rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition: all 300ms ease-out;
}

.service-card:hover,
.industry-card:hover {
  background-color: var(--card-hover);
}

.service-card .service-card-img {
  mix-blend-mode: luminosity;
  transition: mix-blend-mode 0.3s ease-in-out;
}

.service-card:hover .service-card-img {
  mix-blend-mode: normal;
}

.service-card .service-card-img {
  border-radius: 1.25rem;
  filter: brightness(1.5);
  height: 14rem;
  width: 100%;
  object-fit: cover;
}

.service-card .service-card-texts .card-title {
  margin-bottom: 0.75rem;
}

.industries-section,
.testimonials-section,
.faq-section,
.contact-section,
.about-section,
.services-section,
.packages-section,
.portfolio-section {
  padding-block: 2.5rem;
}

/* Industries Section */

.industry-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.industry-card {
  background-color: var(--dark-grey-100);
  padding: 1.5rem;
  border-radius: 1.5rem;
  transition: all 300ms ease-out;
}

.industry-card .industry-card-texts {
  margin-top: 1.5rem;
}

.industry-card .industry-card-texts .card-title {
  margin-bottom: 0.75rem;
}

/* Testimonials Section */

.testimonial-cards {
  display: grid;
  gap: 1.5rem;
}

.testimonial-cards .testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dark-grey-100);
  padding: 1.5rem;
  border-radius: 1.5rem;
  transition: all 300ms ease-out;
}

.testimonial-card:hover {
  background-color: var(--card-hover);
}

.testimonial-cards .testimonial-card .clients-testimonial {
  margin-bottom: 2.375rem;
}

/* FAQ Section */

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.faq-container .faq-box {
  background-color: var(--dark-grey-100);
  padding: 1.5rem;
  border-radius: 1.5rem;
  transition: all 300ms ease-out;
  cursor: pointer;
}

.faq-box:hover {
  background-color: var(--card-hover);
}

.faq-container .faq-box .question {
  display: flex;
  gap: 0.4rem;
  justify-content: space-between;
  align-items: start;
}

.faq-container .faq-box .question i {
  font-size: 1.5rem;
  height: 100%;
}

.faq-container .faq-box .answer {
  margin-top: 1.125rem;
}

.faq-box .answer {
  display: none;
}

.faq-box.show-answer .answer {
  display: block;
}

.faq-box.show-answer .question i {
  transform: rotate(180deg);
}

/* Contact Section */

.contact-section .contact-information {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-section .contact-information .contact-info-box {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  font-size: 1.125rem;
  justify-content: left;
}

.contact-information .contact-info-box .contact-text {
  line-height: 1.2;
  font-weight: 400;
  text-align: left;
}

.contact-section .right {
  display: none;
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  padding-block: 1.125rem;
}

/* .BackToTop-Link{
  position: fixed;
  bottom: 100;
  right: 2rem;
  background-color: var(--background-dark);
  color: var(--brand-gradient);
} */


/* --------------- */
/* About Page CSS */
/* ------------- */

.about-section{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.about-section .about-video iframe{
  border-radius: 1.5rem;
  min-height: 22rem;
}

/* ------------------ */
/* Services Page CSS */
/* ---------------- */

/* Services section */
.services-section .section-heading,
.packages-section .section-heading,
.contact-section .section-heading{
  text-align: left;
}

.services-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
}

.photography-service, .videography-service, .other-services{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2.5rem;
}

.photography-service .service-texts,
.videography-service .service-texts,
.other-services .service-texts,
.other-services .service-texts .editing-service,
.other-services .service-texts .rental-service{
  order: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.service-type-container{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.service-type{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.service-type ul, .rental-service ul{
  list-style:  disc;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 0.20rem;
}

.service-type.background-shoot div{
  display: flex;
  flex-direction: column;
  gap: 0.55rem;
}

.photography-service .service-image,
.videography-service .service-image,
.other-services .service-image{
  order: 2;
}

.service-image img{
  min-height: 28rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.photography-img-2, .videography-img-2{
  display: none;
}

::selection{
  background-color: rgba(202, 208, 255, 100%);
  color: var(--text-dark);
}

/* Packages Section */
.packages-container{
 display: grid;
 grid-template-columns: 1fr;
 gap: 1.25rem;
}

.package-box{
  background-color: var(--dark-grey-100);
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.package-box:hover{
  background-color: var(--card-hover);
}

.package-box.highlighted{
  border: 1px solid var(--secondary);
}

.package-heading .pricing{
  display: flex;
  align-items: baseline;
  margin-top: 0.2rem;
}

.package-heading .pricing .price{
  font-size: 2rem;
}

.package-details{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.package-details .package-detail{
  display: flex;
  gap: 0.375rem;
}

.package-details p,
.package-detail p,
.package-detail i{
  color: var(--text-body);
}

.contact-section .contact-information .contact-info-box {
  justify-content: left;
  text-align: left;
}

/* ------------------- */
/* Portfolio Page CSS */
/* -----------------*/

.portfolio-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.photography-works .images-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;
}
.photography-works .porfolio-type-title,
.videography-works .porfolio-type-title{
  margin-bottom: 2.3rem;
}
.photography-works .images-container img{
  border-radius: 1.5rem;
  /* mix-blend-mode: luminosity; */
  width: 100%;
  height: 100%;
  max-height: 31rem;
  object-fit: cover;
}

/* .photography-works .images-container img:hover,
.photography-works .images-container img:focus{
  mix-blend-mode: normal;
} */


.videography-works .videos-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.videography-works .videos-container iframe{
  width: 100%;
  min-height: 32rem;
  border-radius: 1.5rem;
  mix-blend-mode: normal;
}
/* .videography-works .videos-container iframe:hover, 
.videography-works .videos-container iframe:focus{
  mix-blend-mode: normal;
}  */

@media screen and (min-width: 500px) {



  .header .container,
  .hero-section,
  .contents-below-hero-background,
  .main-content,
  .footer {
    padding-inline: 2.5rem;
  }

  .hero-section .hero-title {
    text-align: left;
  }

  .our-service-section,
  .industries-section,
  .testimonials-section,
  .faq-section,
  .contact-section,
  .services-section,
.packages-section,
.portfolio-section {
    padding-block: 4rem;
  }

  .cta-primary {
    width: auto;
  }

  .section-heading, .about-heading {
    text-align: left;
  }

  .contact-section .contact-information .contact-info-box {
    justify-content: left;
    text-align: left;
  }

  .footer {
    justify-content: left;
  }
}

@media screen and (min-width: 745px) {
  :root {
    --font-size-h1: 3rem;
    --font-size-h2: 2.2rem;
    --font-size-h3: 1.75rem;
    --font-size-h4: 1.5rem;
    --font-size-h5: 1.25rem;
    --font-size-h6: 1rem;
    --font-size-body-primary: 1.125rem;
    --font-size-body-secondary: 1rem;
    --font-size-title-1: 1.5rem;
    --font-size-title-2: 1.125rem;
    --font-size-title-3: 1rem;
    --font-size-subtext-small: 0.75rem;
    --font-size-cta-primary: 1.25rem;
    --font-size-cta-secondary: 1rem;
    --font-size-nav-link: 0.6rem;
    --font-size-faq-question: 1.2rem;
    --font-size-faq-answer: 1.125rem; /* 16px - 18px */
    --font-size-testimonial: 1.25rem;
  }

  .header{
    padding-block: 1.6rem;
  }

  .logo {
    width: 11rem;
  }

  .mobile-nav-menu.active {
    display: none;
  }

  .hamburger-menu {
    display: none;
  }

  .navigation {
    display: flex;
  }

  .navigation ul {
    display: flex;
  }
  .navigation ul li {
    padding: 0.2rem;
    margin-inline: 1rem;
  }

  .navigation ul li a {
    font-weight: 400;
  }

  .navigation ul li a:hover,
  .navigation ul li a:focus {
    color: var(--navlink-hover);
  }

  .hero-background, .background-video {
    height: 80vh;
  }

  .hero-section {
    padding-top: 10rem;
  }

  .hero-section .hero-title {
    max-width: 52rem;
  }

  .section-heading{
    max-width: 52rem;
  }

  .section-heading, .about-heading {
    margin-bottom: 3rem;
  }

  .service-cards,
  .industry-cards,
  .testimonial-cards {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .footer {
    padding-block: 1.4rem;
  }

  .about-section{
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .packages-container{
    grid-template-columns: 1fr 1fr;
   }

   .photography-works .images-container{
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    grid-template-rows: 1fr 1fr;
  }

  .videography-works .videos-container{
    grid-template-columns: 1fr 1fr;
  }

}

@media screen and (min-width: 1440px) {
  .header .container,
  .hero-section,
  .contents-below-hero-background,
  .main-content,
  .footer {
    padding-inline: 0;
  }

  .our-service-section,
  .industries-section,
  .testimonials-section,
  .faq-section,
  .contact-section,
  .about-section,
  .services-section,
.packages-section,
.portfolio-section {
    padding-block: 4.6rem;
  }

  .service-card {
    flex-direction: row;
  }

  .service-card-texts {
    width: 50%;
    height: 100%;
  }

  .service-card .service-card-img {
    width: 50%;
    height: 100%;
    max-height: 12rem;
  }

  .industry-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contact-section .right {
    display: block;
  }

  .contact-section .right img {
    mix-blend-mode: luminosity;
    border-radius: 1.5rem;
  }

.photography-service .service-texts,
.other-services .service-texts{
  order: 2;
}

.photography-service .service-image,
.other-services .service-image{
  order: 1;
}

  .services-container .photography-service,
  .services-container .videography-service,
  .services-container .other-services{
    grid-template-columns: 1fr 1fr;
  }

  /* .photography-img-2, .videography-img-2{
    display: block;
  } */

  .service-image{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .service-image img{
    min-height: 0;
    height: 100%;
    width: 100%;
  }

  .packages-container{
    grid-template-columns: 1fr 1fr 1fr;
   }

   .photography-works .images-container{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }


}
