@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&display=swap");

/* ---------- */
/* CSS Reset */
/* ---------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --brand-gradient: linear-gradient(
    90deg,
    rgba(202, 208, 255, 1) 0%,
    rgba(227, 227, 227, 1) 100%
  );
  --background-dark: rgba(3, 3, 3, 100%);
  --primary: rgba(202, 208, 255, 100%);
  --secondary: rgba(227, 227, 227, 100%);
  --text-title: rgba(253, 253, 253, 100%);
  --text-body: rgba(217, 217, 217, 100%);
  --text-dark: rgba(3, 3, 3, 100%);
  --dark-grey-200: rgba(11, 11, 11, 100%);
  --dark-grey-100: rgba(15, 15, 15, 100%);
  --card-hover: rgba(20, 20, 20, 100%);
  --background-dark-70: rgba(3, 3, 3, 70%);
  --navlink-hover: rgba(181, 181, 181, 100%);

  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.75rem;
  --font-size-h4: 1.5rem;
  --font-size-h5: 1.25rem;
  --font-size-h6: 1rem;
  --font-size-body-primary: 1rem;
  --font-size-body-secondary: 0.875rem;
  --font-size-title-1: 1.25rem;
  --font-size-title-2: 1.125rem;
  --font-size-title-3: 1rem;
  --font-size-subtext-small: 0.75rem;
  --font-size-cta-primary: 1.125rem;
  --font-size-cta-secondary: 1rem;
  --font-size-nav-link: 0.6rem;
  --font-size-faq-question: 1.1rem;
  --font-size-faq-answer: 1rem; 
  --font-size-testimonial: 1.25rem;

   /* Base Spacing */
  --space-xxs: clamp(0.25rem, 0.5vw, 0.5rem); /* Min 4px, Max 8px */
  --space-xs: clamp(0.5rem, 1vw, 1rem);       /* Min 8px, Max 16px */
  --space-sm: clamp(1rem, 2vw, 1.5rem);       /* Min 16px, Max 24px */
  --space-md: clamp(1.5rem, 3vw, 2rem);       /* Min 24px, Max 32px */
  --space-lg: clamp(2rem, 4vw, 3rem);         /* Min 32px, Max 48px */
  --space-xl: clamp(3rem, 6vw, 4rem);         /* Min 48px, Max 64px */
  --space-xxl: clamp(4rem, 8vw, 6rem);        /* Min 64px, Max 96px */


  --section-padding-block: clamp(2.5rem, 5vw, 6rem);
}

body {
  background-color: var(--background-dark);
  color: var(--text-body);
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Syne", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--text-title);
}

p,
a,
button,
.subtext,
.cta,
.nav,
.faq,
.testimonial {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--text-title);
}

h1 {
  font-size: var(--font-size-h1);
  line-height: calc(var(--font-size-h1) * 1.2);
}

h2 {
  font-size: var(--font-size-h2);
  line-height: calc(var(--font-size-h2) * 1.2);
}

h3 {
  font-size: var(--font-size-h3);
  line-height: calc(var(--font-size-h3) * 1.2);
}

h4 {
  font-size: var(--font-size-h4);
  line-height: calc(var(--font-size-h4) * 1.2);
  font-weight: 500;
}

h5 {
  font-size: var(--font-size-h5);
  line-height: calc(var(--font-size-h5) * 1.25);
  font-weight: 500;
}

h6 {
  font-size: var(--font-size-h6);
  line-height: calc(var(--font-size-h6) * 1.4);
  font-weight: 500;
}

a, button{
  cursor: pointer;
}

/* -------------- */
/* Useful Classes*/
/* ------------ */

p.body-primary {
  font-size: var(--font-size-body-primary);
  line-height: calc(var(--font-size-body-primary) * 1.55);
  font-weight: 400; /* Regular weight for body text */
  color: var(--text-body);
}

p.body-secondary {
  font-size: var(--font-size-body-secondary);
  line-height: calc(var(--font-size-body-secondary) * 1.5);
  font-weight: 400; /* Regular weight for body text */
  color: var(--text-body);
}

.title-1 {
  font-size: var(--font-size-title-1);
  line-height: calc(var(--font-size-title-1) * 1.25);
  font-weight: 500;
  font-family: "Syne", sans-serif;
}

.title-2 {
  font-size: var(--font-size-title-2);
  line-height: calc(var(--font-size-title-2) * 1.4);
  font-weight: 500;
  font-family: "Syne", sans-serif;
}

.title-3 {
  font-size: var(--font-size-title-3);
  line-height: calc(var(--font-size-title-3) * 1.55);
  font-weight: 500;
  font-family: "Syne", sans-serif;
}

.subtext-small {
  font-size: var(--font-size-subtext-small);
  line-height: calc(var(--font-size-subtext-small) * 1.5);
  font-weight: 400;
}

.cta-primary {
  font-size: var(--font-size-cta-primary);
  line-height: calc(var(--font-size-cta-primary) * 1.4);
  background: var(--brand-gradient);
  color: var(--text-dark);
  width: 100%;
  padding-inline: 3rem;
  padding-block: 1rem;
  border: none;
  border-radius: 999px;
  /* border-radius: 1rem; */
  font-weight: 500;
  transition: all 100ms ease-out;
  font-family: "Syne", sans-serif;
}

.cta-primary:hover {
  background: var(--card-hover);
  color: var(--primary);
}

.cta-primary:focus {
  background-color: var(--card-hover);
  color: var(--primary);
  border: 2px solid var(--primary);
}

.cta-primary-outline-small {
  font-size: var(--font-size-cta-secondary);
  font-weight: 500;
  line-height: calc(var(--font-size-cta-secondary) * 1.55);
  font-family: "Syne", sans-serif;
  text-align: center;
  padding: 0.75rem;
  border-radius: 999px;
  width: 100%;
  background-color: var(--dark-grey-100);
  border: 2px solid var(--primary);
  color: var(--primary);
  transition: all 200ms ease-out;
}

.cta-primary-outline-small:hover, .cta-primary-outline-small:focus{
  background-color: rgba(202, 208, 255, 20%);
}

.cta-primary-small{
  font-weight: 500;
  font-family: "Syne", sans-serif;
  font-size: var(--font-size-cta-secondary);
  line-height: calc(var(--font-size-cta-secondary) * 1.55);
  text-align: center;
  padding: 0.75rem;
  border-radius: 999px;
  width: 100%;
  border: 2px solid var(--primary);
  background-color: var(--primary);
  color: var(--text-dark);
  transition: all 200ms ease-out;
}

.cta-primary-small:hover{
  background: var(--dark-grey-200);
  color: var(--primary);
  border: 2px solid var(--dark-grey-200);
}

.cta-primary-small:focus{
  background: var(--card-hover);
  color: var(--primary);
  border: 2px solid var(--primary);
}

.nav-link {
  font-size: var(--font-size-nav-link);
  line-height: calc(var(--font-size-nav-link) * 1.5);
  font-weight: 400;
}

.faq-question {
  font-size: var(--font-size-faq-question);
  line-height: calc(var(--font-size-faq-question) * 1.4);
  font-weight: 500;
}

.faq-answer {
  font-size: var(--font-size-faq-answer);
  line-height: calc(var(--font-size-faq-answer) * 1.55);
  font-weight: 400;
  color: var(--text-body);
}

.testimonial {
  font-size: var(--font-size-testimonial);
  line-height: calc(var(--font-size-testimonial) * 1.4);
  font-weight: 400;
  color: var(--text-body);
}

i {
  color: var(--text-title);
}

.icon-extra-small {
  font-size: 1.125rem;
}

.icon-small {
  font-size: 1.5rem;
}

.icon-medium {
  font-size: 2rem;
}

.icon-large {
  font-size: 2.625rem;
}

/* .hidden {
  display: none;
} */


/* ------------ */
/* CSS styling */
/* ---------- */

/* ----------------- */
/* Landing Page CSS */
/* --------------- */

.header .container,
.hero-section,
.contents-below-hero-background,
.main-content,
.footer {
  padding-inline: 1rem;
  max-width: 1280px;
  margin-inline: auto;
}

/* Header */
.header {
  /* height: 3.8rem; */
  padding-block: 1.2rem;
  transition: all 300ms ease-out;
}

.header.fixed-header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--background-dark-70);
  backdrop-filter: blur(55px);
  z-index: 99;
}

.header .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mobile-nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  height: 100vh;
  width: 50vw;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--background-dark-70);
  backdrop-filter: blur(55px);
}

#menu-icon, #close-icon{
  cursor: pointer;
}

.mobile-nav-menu.active {
  transform: translateX(0%);
}

#close-icon {
  font-size: 20px;
}

.nav-links {
  padding-block: 3rem;
  text-align: center;
}

.nav-links ul li {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.nav-links ul li a {
  color: var(--text-title);
  cursor: pointer;
}
.nav-links ul li a:hover {
  color: var(--navlink-hover);
}

.navigation {
  display: none;
}

.hero-section {
  padding-top: 7rem;
  padding-bottom: 5rem;
}

/* Hero Section */

.hero-background {
  height: 70vh;
  width: 100vw;
  background-image:
    linear-gradient(rgba(3, 3, 3, 10%) 0%, rgba(3, 3, 3, 10%) 100%),
    linear-gradient(to bottom, rgba(3, 3, 3, 70%) 0%, rgba(3, 3, 3, 100%) 80%);
  background-blend-mode: overlay, overlay;
  background-size: cover;
  background-position: center;
} 


.hero-section .hero-title {
  margin-bottom: 2rem;
  text-align: left;
}

.background-video{
  position: absolute;
  top: 0;
  left: 0;
  height: 70vh;
  width: 100vw;
  object-fit: cover;
  z-index: -1;
}

.section-heading, .about-heading {
  margin-bottom: var(--space-lg);
  text-align: left;
}

.section-heading .section-title, .about-heading .about-title {
  margin-bottom: var(--space-sm);
}

/* Our Services Section */

.our-service-section {
  padding-block: var(--space-lg);
}

.service-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-md);
  margin-bottom: 2.5rem;
}

.service-card {
  background-color: var(--dark-grey-100);
  padding: 1.5rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition: all 100ms ease-out;
}

.service-card:hover,
.industry-card:hover {
  background-color: var(--card-hover);
}

.service-card .service-card-img {
  border-radius: 1.25rem;
  filter: brightness(1.5);
  max-height: 13rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.service-card .service-card-texts .card-title {
  margin-bottom: 0.75rem;
}

.industries-section,
.testimonials-section,
.our-clients,
.faq-section,
.contact-section,
.about-section,
.services-section,
.packages-section,
.portfolio-section {
  padding-block: var(--section-padding-block);
}

/* Industries Section */

.industry-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-md);
}

.industry-card {
  background-color: var(--dark-grey-100);
  padding: 1.5rem;
  border-radius: 1.5rem;
  transition: all 100ms ease-out;
}

.industry-card .industry-card-texts {
  margin-top: 1.5rem;
}

.industry-card .industry-card-texts .card-title {
  margin-bottom: 0.75rem;
}

/* Testimonials Section */

.testimonial-cards {
  display: grid;
  gap: var(--space-md);
}

.testimonial-cards .testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dark-grey-100);
  padding: 1.5rem;
  border-radius: 1.5rem;
  transition: all 100ms ease-out;
}

.testimonial-card:hover {
  background-color: var(--card-hover);
}

.testimonial-cards .testimonial-card .clients-testimonial {
  margin-bottom: 2.375rem;
}

/* Our Cleints Section */

/* Infinite cleints logos scroller */
.scroller{
  max-width: 1280px;
}

.scroller-inner{
  display: flex;
  gap: var(--space-md);
  padding-block: 1rem;
  list-style-type: none;
  flex-wrap: wrap;
}

.scroller-inner .cleint-logo-box{
  background-color: var(--dark-grey-100);
  padding-block: 1.2rem;
  padding-inline: 2.2rem;
  border-radius: 1.5rem;
  transition: all 100ms ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroller-inner .cleint-logo-box .cleint-logo{
  width: 8rem;
} 

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 10%,
    white 60%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller-inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* FAQ Section */

.faq-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.faq-container .faq-box {
  background-color: var(--dark-grey-100);
  padding: 1.5rem;
  border-radius: 1.5rem;
  transition: all 100ms ease-out;
  cursor: pointer;
}

.faq-box:hover {
  background-color: var(--card-hover);
}

.faq-container .faq-box .question {
  display: flex;
  gap: 0.4rem;
  justify-content: space-between;
  align-items: start;
}

.faq-container .faq-box .question i {
  font-size: 1.5rem;
  height: 100%;
}

.faq-container .faq-box .answer {
  margin-top: 1.125rem;
}

.faq-box .answer {
  display: none;
}

.faq-box.show-answer .answer {
  display: block;
}

.faq-box.show-answer .question i {
  transform: rotate(180deg);
}

/* Contact Section */

.contact-section .contact-information {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.contact-section .contact-information .contact-info-box {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  font-size: 1.125rem;
  justify-content: left;
}

.contact-information .contact-info-box .contact-text, .contact-text a {
  line-height: 1.2;
  font-weight: 400;
  text-align: left;
}

/* .contact-info-box a:hover{
  color: var(--navlink-hover);
} */

.contact-section .right {
  display: none;
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  padding-block: 1.125rem;
  margin-top: clamp(2.5rem, 5vw, 6rem);
}

/* .BackToTop-Link{
  position: fixed;
  bottom: 100;
  right: 2rem;
  background-color: var(--background-dark);
  color: var(--brand-gradient);
} */


/* --------------- */
/* About Page CSS */
/* ------------- */

.about-section{
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-md);
}

.about-section .about-video iframe{
  border-radius: 1.5rem;
  min-height: 22rem;
}

/* ------------------ */
/* Services Page CSS */
/* ---------------- */

/* Services section */
/* .services-section .section-heading,
.packages-section .section-heading,
.contact-section .section-heading{
  text-align: left;
} */

.services-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-xl);
}

.photography-service, .videography-service, .other-services{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}

.photography-service .service-texts,
.videography-service .service-texts,
.other-services .service-texts,
.other-services .service-texts .editing-service,
.other-services .service-texts .rental-service{
  order: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.service-type-container{
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.service-type{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.service-type .service-details, .rental-service .service-details{
  /* list-style:  none; */
  /* list-style-position: inside; */
  display: flex;
  flex-direction: column;
  gap: 0.30rem;
}

.service-details p{
  color: var(--text-body);
  font-weight: 400;
}

.photography-service .service-image,
.videography-service .service-image,
.other-services .service-image{
  order: 2;
}

.service-image img{
  min-height: 28rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.photography-img-2, .videography-img-2{
  display: none;
}

::selection{
  background-color: rgba(202, 208, 255, 100%);
  color: var(--text-dark);
}

/* Packages Section */
.packages-container{
 display: grid;
 grid-template-columns: 1fr;
 gap: 1.25rem;
}

.package-box{
  background-color: var(--dark-grey-100);
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.package-box:hover{
  background-color: var(--card-hover);
}

.package-box .call-to-actions{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 1rem;
}

.package-extra-details{
  margin-top: var(--space-lg);
  display: flex;
  gap: 2.8rem;
  /* justify-content: center; */
}

.highlighted-package-detail{
  text-decoration: underline;
  text-decoration-color: var(--primary);
}

.package-extra-details .extra-detail-box{
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: var(--dark-grey-100);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.package-extra-details .extra-detail-box .extra-detail-heading{
  font-size: 2rem;
}

/*
.package-box.highlighted{
  background-color: var(--secondary);
  color: var(--text-dark); 
} 
*/

/* .package-box.highlighted p,
.package-box.highlighted i{
  color: var(--text-dark);
} */

.package-heading .pricing{
  display: flex;
  align-items: baseline;
  margin-top: 0.30rem;
}

.package-heading .pricing .price{
  font-size: 2rem;
  /* font-family: "Syne", sans-serif; */
}

.package-details{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.package-details .package-detail{
  display: flex;
  gap: 0.375rem;
}

.package-details p,
.package-detail p,
.package-detail i{
  color: var(--text-body);
  font-weight: 400;
}

.package-details .title{
  font-weight: 500;
}

.contact-section .contact-information .contact-info-box {
  justify-content: left;
  text-align: left;
}



/* ------------------- */
/* Portfolio Page CSS */
/* -----------------*/

.portfolio-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.photography-works .images-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;
}
.photography-works .porfolio-type-title,
.videography-works .porfolio-type-title{
  margin-bottom: 2.3rem;
}
.photography-works .images-container img{
  border-radius: 1.5rem;
  /* mix-blend-mode: luminosity; */
  width: 100%;
  height: 100%;
  max-height: 31rem;
  object-fit: cover;
}

.videography-works-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.podcast-videos-container{
   display: grid;
   grid-template-columns: 1fr; 
   gap: 2rem;
}

.podcast-card{
  display: flex;
  flex-direction: column;
  background-color: var(--dark-grey-100);
  padding: 1.5rem;
  border-radius: 1.5rem;
  gap: 1.5rem;
  height: 100%
}

.podcast-card .podcast-info .cta-primary-outline-small{
  width: fit-content;
  padding-inline: 2rem;
}

.podcast-card .podcast-thumbnail{
  border-radius: 1rem;
}

.podcast-info{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%
}

.podcast-info .podcast-button{
  margin-top: auto;
}


.videography-works .videos-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.videography-works .videos-container iframe{
  width: 100%;
  min-height: 32rem;
  border-radius: 1.5rem;
  mix-blend-mode: normal;
}

/* ----------------- */
/* Scroll animation */
/* --------------- */

.show {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-20%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* Reduced motion preference */
@media (prefers-reduced-motion: reduce) {
  .show {
    transition: none; /* Remove animations/transitions */
  }

  .hidden {
    transform: none; /* Prevent motion */
    opacity: 1;
    filter: none;
  }
}

/* 
.service-card:nth-child(2), .industry-card:nth-child(2){
  transition-delay: 200ms;
}
.service-card:nth-child(3), .industry-card:nth-child(3){
  transition-delay: 400ms;
}
.service-card:nth-child(4), .industry-card:nth-child(4){
  transition-delay: 600ms;
}

.industry-card:nth-child(5){
  transition-delay: 800ms;
}
.industry-card:nth-child(6){
  transition-delay: 1000ms;
}
.industry-card:nth-child(7){
  transition-delay: 1200ms;
} */


@media screen and (min-width: 500px) {
  .header .container,
  .hero-section,
  .contents-below-hero-background,
  .main-content,
  .footer {
    padding-inline: 2.5rem;
  }

  .hero-section .hero-title {
    text-align: left;
    margin-bottom: 2.4rem;
  }

  .cta-primary {
    width: auto;
  }

  /* .section-heading, .about-heading {
    text-align: left;
  } */

  .contact-section .contact-information .contact-info-box {
    justify-content: left;
    text-align: left;
  }

  .footer {
    justify-content: left;
  }
}

@media screen and (min-width: 745px) {
  :root {
    --font-size-h1: 3rem;
    --font-size-h2: 2.2rem;
    --font-size-h3: 1.75rem;
    --font-size-h4: 1.5rem;
    --font-size-h5: 1.25rem;
    --font-size-h6: 1rem;
    --font-size-body-primary: 1.125rem;
    --font-size-body-secondary: 1rem;
    --font-size-title-1: 1.5rem;
    --font-size-title-2: 1.125rem;
    --font-size-title-3: 1rem;
    --font-size-subtext-small: 0.75rem;
    --font-size-cta-primary: 1.25rem;
    --font-size-cta-secondary: 1rem;
    --font-size-nav-link: 0.6rem;
    --font-size-faq-question: 1.2rem;
    --font-size-faq-answer: 1.125rem; /* 16px - 18px */
    --font-size-testimonial: 1.25rem;
  }

  .header{
    padding-block: 1.6rem;
  }

  .logo {
    width: 11rem;
  }

  .mobile-nav-menu.active {
    display: none;
  }

  .hamburger-menu {
    display: none;
  }

  .navigation {
    display: flex;
  }

  .navigation ul {
    display: flex;
  }
  .navigation ul li {
    padding: 0.2rem;
    margin-inline: 1rem;
  }

  .navigation ul li a {
    font-weight: 400;
  }

  .navigation ul li a:hover,
  .navigation ul li a:focus {
    color: var(--navlink-hover);
  }

  .hero-background, .background-video {
    height: 80vh;
  }

  .hero-section {
    padding-top: 10rem;
  }

  .hero-section .hero-title {
    max-width: 52rem;
    margin-bottom: 3.2rem;
  }

  .section-heading{
    max-width: 52rem;
  }

  /* .section-heading, .about-heading {
    margin-bottom: 3rem;
  } */

  .service-cards,
  .industry-cards,
  .testimonial-cards {
    grid-template-columns: 1fr 1fr;
    /* gap: 2rem; */
  }

  .footer {
    padding-block: 1.4rem;
  }

  .about-section{
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .packages-container{
    grid-template-columns: 1fr 1fr;
   }

   .photography-works .images-container{
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    grid-template-rows: 1fr 1fr;
  }


  .videography-works .videos-container{
    grid-template-columns: 1fr 1fr;
  }

  /* Scroll animation */
  .service-card:nth-child(2),
.industry-card:nth-child(2),
.industry-card:nth-child(4),
.industry-card:nth-child(6),
.testimonial-card:nth-child(2),
.contact-section .right img,
.about-video iframe,
.package-box:nth-child(2){
  transition-delay: 200ms;
}
.service-card:nth-child(3),
.industry-card:nth-child(3),
.industry-card:nth-child(5),
.package-box:nth-child(3){
  transition-delay: 400ms;
}

.podcast-videos-container{
  grid-template-columns: 1fr 1fr; 
}

}

@media screen and (min-width: 1440px) {
  .header .container,
  .hero-section,
  .contents-below-hero-background,
  .main-content,
  .footer {
    padding-inline: 0;
  }

  .service-card {
    flex-direction: row;
  }

  .service-card-texts {
    width: 50%;
    height: 100%;
  }

  .service-card .service-card-img {
    width: 50%;
    height: 100%;
  }

  .industry-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contact-section .right {
    display: block;
  }

  .contact-section .right img {
    mix-blend-mode: luminosity;
    border-radius: 1.5rem;
  }

.photography-service .service-texts,
.other-services .service-texts{
  order: 2;
}

.photography-service .service-image,
.other-services .service-image{
  order: 1;
}

  .services-container .photography-service,
  .services-container .videography-service,
  .services-container .other-services{
    grid-template-columns: 1fr 1fr;
  }

  /* .photography-img-2, .videography-img-2{
    display: block;
  } */

  .service-image{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .service-image img{
    min-height: 0;
    height: 100%;
    width: 100%;
  }

  .packages-container{
    grid-template-columns: 1fr 1fr 1fr;
   }

   .photography-works .images-container{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  /* scroll animation */
  .photography-service .service-texts,
  .videography-service .service-image,
  .other-services .service-card-texts,
  .photography-works .images-container img:nth-child(2),
  .photography-works .images-container img:nth-child(5),
  .videography-works .videos-container iframe:nth-child(2){
    transition-delay: 200ms;
  }

  .photography-works .images-container img:nth-child(3)
  .photography-works .images-container img:nth-child(6){
    transition-delay: 400ms;
  }
}
